body {
    background-color: rgb(214, 214, 214);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

.card {
    height: 100px;
    width: 100px;
    background-color: rgb(137, 129, 145);
    margin: 20px;
}

header {
    text-align: center;
    font-size: 3.1rem;
    font-weight: 700;
    margin: 30px;
    font-family: 'Cabin', sans-serif;
}

i {
    color: rgb(216, 195, 167);
    position: relative;
    top: 10px;
    padding: 15px;
    font-size: 3rem;
}

footer {
    height: 50px;
    padding: 25px;
    text-align: center;
    font-family: 'Style Script', cursive;
    font-size: 2rem;
}

/* -------------------------------------------------- Media Queries */

@media screen and (max-width: 420px) {
    header {
        font-size: 2.8rem;
        margin: 20px;
    }
  }

  @media screen and (max-width: 360px) {
    header {
        font-size: 2.4rem;
        margin: 10px;
    }
  }


  @media screen and (min-width: 600px) {
    .card {
        height: 250px;
        width: 250px;
        margin: 50px 150px;
    }
    i {
        top: 40px;
        padding: 35px;
        font-size: 6rem;
    }
  }